/*
original created by Nasrullah Siddik
https://github.com/as-shiddiq/leaflet-lumap
*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.lumap-container{
  overflow-y: auto;
}
.lumap-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.lumap-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.lumap-container::-webkit-scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
.lumap-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lumap-aside {
  font-family: 'Inter', sans-serif;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  height: 100%;
}

.lumap-aside .accordion-header{
  padding: .5rem 0;
}

.lumap-aside .accordion-header > button{
  font-weight: bolder;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: #444;
}

.lumap-aside .form-check-input[type="checkbox"]{
  height: 1rem;
  width: 1rem;
  margin: 0;
  border-radius: .25rem;
  padding: 0;
}

.lumap-aside .accordion-button::after
{
  width: 1rem;
  background-size:1rem;
  height: 1rem;
}

.lumap-aside .accordion-button:not(.collapsed)
{
  color: #0c63e4;
  box-shadow: none;
}

.lumap-aside .accordion-item{
  border: 0;
}

.lumap-aside .accordion-button:focus{
  box-shadow: none;
}

.lumap-aside .accordion-button:not(.collapsed)
{
  background: inherit;
}

.lumap-aside .accordion-body{
  padding: 0;
}

.lumap-aside .accordion-body .form-check{
  padding: .25rem 0 !important;
}

.lumap-aside .accordion-body .form-check .form-check-label:hover{
  cursor: pointer;
}

.lumap-aside .accordion-body .lm-icon{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .25rem;
  text-align: center;
  background: #777;
  color: #fff;
}

.lumap-aside .accordion-body .lm-icon-image
{
  background: transparent;
}

.lumap-aside .accordion-body .lm-icon img{
  object-fit: cover !important;
  width: 1.5rem;
  height: 1.5rem;
}

.lm-toggle-minimize{
  display: none;
}
.lm-aside-show .lm-toggle-minimize{
  display: block;
}

.lm-mini .lumap-container{
    height: 100vh !important;
    width: 100%;
    position: fixed;
    z-index: 10000;
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    display: none;
}

.lm-mini.lm-mini-show .lumap-container{
  display: block;
}

.lm-mini .lumap-aside{
  animation: zoomIn .1s ease-in;
  height: auto;
  border:1px solid #eee;
  box-shadow: 0 0 10px 20px #0002;
  margin: 20px;
}

.lm-toggle-minimize{
  position: fixed;
  display: none;
  box-shadow: 0px 0px 10px 5px #0002;
  background: #57ce00;
  right: 10px;
  bottom: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  z-index: 10001;
  color: #fff;
}

.lm-mini .lm-toggle-minimize{
  display: block;
}

@keyframes zoomIn {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}