/*
original created by Nasrullah Siddik
https://github.com/as-shiddiq/leaflet-lumap
*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.lumap-container{
  overflow-y: auto;
}
.lumap-container::-webkit-scrollbar {
  width: 5px;
}
.lumap-flex{
  display: flex;
}

/* Track */
.lumap-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.lumap-container::-webkit-scrollbar-thumb {
  background: #eee;
}

/* Handle on hover */
.lumap-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.lumap-aside {
  font-family: 'Inter', sans-serif;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
  height: 100%;
}

.lumap-aside .lumap-aside-header{
  padding: .5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .25rem;
}

.lumap-aside .lumap-aside-header label{
  font-weight: bold;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  color: #444;
}
.lumap-aside .lumap-aside-header label:hover{
  cursor: pointer;
}

.lumap-aside .lumap-aside-header::after {
  content: "â¯";
  width: 20px;
  height: 20px;
  font-family: monospace;
  text-align: center;
  transition: all 0.35s;
}
.lumap-aside .form-check-input[type="checkbox"]{
  height: 1rem;
  width: 1rem;
  margin: 0;
  border-radius: .25rem;
  padding: 0;
}


.lumap-aside .lumap-aside-item{
  overflow: hidden;
  border: 0;
}

.lumap-aside .lumap-aside-body{
  padding: 0;
}

.lumap-aside .lumap-aside-body .form-check{
  padding: .25rem 0 !important;
}


.lumap-aside .lumap-aside-body .lumap-icon{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: .25rem;
  text-align: center;
  background: #777;
  color: #fff;
}

.lumap-aside .lumap-aside-body .lumap-icon-image
{
  background: transparent;
}

.lumap-aside .lumap-aside-body .lumap-icon img{
  object-fit: cover !important;
  width: 1.5rem;
  height: 1.5rem;
}

.lumap-aside-body-items{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.lumap-aside-body-items > .lumap-aside-body-item{
  display: flex;
  align-items: center;
  gap: 5px;
}

.lumap-aside-body-item > label:hover{
  cursor: pointer;
  transition: .5s all;
  color: #555;
}

.lumap-toggle-minimize{
  display: none;
}
.lumap-aside-show .lumap-toggle-minimize{
  display: block;
}

.lumap-mini .lumap-container{
    height: 100vh !important;
    width: 100%;
    position: fixed;
    z-index: 10000;
    position: fixed;
    bottom: 0px;
    border-radius: 10px;
    display: none;
}

.lumap-mini.lumap-mini-show .lumap-container{
  display: block;
}

.lumap-mini .lumap-aside{
  animation: zoomIn .1s ease-in;
  height: auto;
  border:1px solid #eee;
  box-shadow: 0 0 10px 20px #0002;
  margin: 20px;
}

.lumap-toggle-minimize{
  position: fixed;
  display: none;
  box-shadow: 0px 0px 10px 5px #0002;
  background: #57ce00;
  right: 10px;
  bottom: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  z-index: 10001;
  color: #fff;
}

.lumap-mini .lumap-toggle-minimize{
  display: block;
}

/*accoddion*/

.lumap-aside .lumap-aside-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.lumap-aside .lumap-aside-body
 {
  max-height: 0;
  transition: all 0.35s;
}

.lumap-aside .lumap-aside-checkbox:checked + .lumap-aside-header::after {
  transform: rotate(90deg);
}
.lumap-aside .lumap-aside-checkbox:checked ~ .lumap-aside-header label{
  color:#0c63e4 !important;
}
.lumap-aside .lumap-aside-checkbox:checked ~ .lumap-aside-body
{
  transition: all 1s;
  max-height: 100vh;
}


@keyframes zoomIn {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}